* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-image: url(images/bg-5.jpg);
} */

.grid {
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: center; */
  margin: auto; /*because i want the grind in center if page */
  margin-top: 250px;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* space between cells */
  max-width: 1500px; /* size of grid*/
  max-height: 750px;
  color: silver;
}

.grid-item {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  /* align-items: center;
  justify-content: center; */
  /* align-content: center; */
  width: 500px;
}
/* .grid-item h3 {
  position: absolute;
  margin: 0;
} */
.grid-item audio,
.grid-item video {
  /* align-items: center;
  justify-content: center; */
  /* align-content: center; */
  width: 100%;
}
.grid-item audio {
  margin-top: 120px;
}
.grid-item img {
  max-width: 100%;
  height: auto;
}
h4 {
  font-size: larger;
}
