.scroll {
  height: 20px;
  overflow: hidden;
  position: relative;
  background: rebeccapurple;
  color: rgb(239, 239, 68);
}
.scroll p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  text-align: center;
  transform: translateX(100%);
  animation: scroll 15s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* body {
  display: flex;
  justify-content: right;
  align-items: right;
} */
.circle-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  border: 5px red solid;
  float: right;
}
.circle:hover {
  transform: scale(1.5);
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: brown;
  border-width: 10px;
  background-color: rgb(168, 140, 140);
  margin: 10px;
}
