* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scroll {
  height: 20px;
  overflow: hidden;
  position: relative;
  background: rebeccapurple;
  color: rgb(239, 239, 68);
}
.scroll p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  text-align: center;
  transform: translateX(100%);
  animation: scroll 15s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* body {
  display: flex;
  justify-content: right;
  align-items: right;
} */
.circle-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  border: 5px red solid;
  float: right;
}
.circle:hover {
  transform: scale(1.5);
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: brown;
  border-width: 10px;
  background-color: rgb(168, 140, 140);
  margin: 10px;
}

body {
  height: 100vh;
  background-image: url(images/space.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;

  font-size: 1rem;
}
a:hover {
  color: orangered;
}

/* header */
header {
  position: sticky;
  top: 20px;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  /* max-width: 1200px; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 25px;
  font-weight: bold;
}

.logo {
  display: flex;
  width: 250px;
  min-width: 250px;
}

.links {
  display: flex;
  width: 500px;
  min-width: 500px;
  gap: 8rem;
}

.mars {
  /* position: absolute; */
  width: 300px;
  min-width: 300px;

  height: 300px;
  /* margin-left: 850px; */
  margin-top: 150px;

  background: #4f1313
    url(https://cdn11.bigcommerce.com/s-yzgoj/images/stencil/1280x1280/products/2603999/5550648/apihnal3p__72609.1626314514.jpg?c=2)
    0 0 repeat;

  border-radius: 50%;
  background-size: 630px;
  animation: rotate 50s linear infinite;
  transition: transform 20ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 0px 0px 20px rgb(0, 0, 0, 1);
  /* color: #000; */
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1280px 0;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
}

/* css for h2 */
.h2 {
  width: 500px;
  min-width: 500px;

  height: 400px;

  color: #ffffff;

  display: flex;

  font-size: 25px;
  padding: 150px 90px 10px 90px;
  margin: 80px;
}
